body{
	margin: 0;
	background-color: darkmagenta;
	font-size: 27px;
}

@media (max-width: 1199px) {
	body {
		font-size: 21.5px;
  }
}
@media (max-width: 768px) {
	body {
		font-size: 18px;
  }
}

.box{
	box-sizing: border-box;
	padding: 1em;
	padding-left: 2.5em;
	padding-right: 2.5em; 
	background-color: #fff;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 80%;
	color: darkmagenta;
	border-radius: 3px;
}

.qt{
	text-align: justify;
}
.cap{
	text-align: right;
}