body{
	margin: 0;
	background-color: darkmagenta;
	height: 100vh;
	box-sizing: border-box;
	overflow: hidden;
}

.box{
	padding: 35px;
	background-color: #fff;
	margin: 15% auto;
	width: 40%;
	font-size: 27px;
	color: darkmagenta;
	border-radius: 3px;
}

.qt{
	box-sizing: border-box;
	text-align: justify;
}
.cap{
	text-align: right;
}