body{
	margin: 0;
	background-color: darkmagenta;
	/* height: 100vh;
	box-sizing: border-box;
	overflow: hidden; */
}

.box{
	box-sizing: border-box;
	padding: 35px;
	background-color: #fff;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 80%;
	font-size: 27px;
	color: darkmagenta;
	border-radius: 3px;
}

.qt{
	box-sizing: border-box;
	text-align: justify;
}
.cap{
	text-align: right;
}